h1{
    text-align: center;
}
header{
    background-color: darkolivegreen;
    color: white;
    padding: 10px 0;
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}
nav li{
    margin: 0 20px;
}
nav a{
    text-decoration: none;
    color: white;
}
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 40px;
}
body {
    background-image: url(/images/montana.jpeg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
img {
    max-width: 150px;
}
footer {
    text-align: center;
    padding: 10px;
    background-color: darkolivegreen;
    color: white;
}
Section{
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
    border: 1px solid black;
    padding: 20px;
    color: white;
}
